*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Poppins;
    font-style: normal;
}
nav{
    display: flex;
}
#logoImg{
    width: 60px;
    height: 54px;
}
nav > p{
    font-size: 24px;
    font-weight: 600;
    line-height: 156.5%; /* 37.56px */
    letter-spacing: 1.56px;
    color: #278024;
    width: 162px;
    margin: 10px ;
}
nav > button{
    position: absolute;
    right: 0;
    margin: 10px;
    rotate: -90deg;
    border: none;
}
select{
    position: absolute;
    right: 0;
    margin: 10px;
    opacity: 0;
    cursor: pointer;
}
option{
    font-size: 15px;
}
#emergency{
    display: flex;
    background-color: rgba(242, 52, 47, 0.95);
    border: 5px solid rgba(196, 196, 196, 0.58);
    border-radius: 40px;
    height: 110px;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px)
}

h1{
    color: var(--text-color, #333);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Poppins;
    font-size: 36px;
    font-weight: 600;
    line-height: 156.5%;

}
#question{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 40px;
}
#question>p:nth-child(2){
    color: red;
}
.items{
    display: flex;
    flex-direction: column;
}
#services{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}
.items > img{
    width: 148px;
    height: 141px;
    cursor: pointer;
}
.items > button{
    border-radius: 15px;
    background: linear-gradient(180deg, #278024 0%, rgba(195, 228, 194, 0.00) 100%);
    border: none;
    color: red;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    height: 40px;
    cursor: pointer;
}
#other{
    display: flex;
    justify-content: right;
    position: relative;
}
#other > img{
    width: 122px;
    height: 122px;
    flex-shrink: 0;
    border: 1px solid black;
    border-radius: 50%;
    padding: 10px;
    box-shadow: 20px -10px 1px rgba(39, 128, 36, 0.45); /* Add a box shadow to create the shadow effect */
    margin-right: 15%;
    margin-top: 10%;
    margin-bottom: 10%;
    
}
#redcircle{
    left: 100px;
    width: 70px;
    height: 70px;
    bottom: 60px;
    background-color: #E4312C;
}
#greencircle{
    background-color: #278024;
}
.circle {
    position: absolute;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    left: 40px;
    bottom: 100px;
}

