*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x:hidden ;
}
.circle{
    height: 100px;
    width: 100px;
    border: 1px solid black;
    border-radius: 50%;
    position: absolute;
}
#circle1{
    top: -50px;
    left: -50px;
    background-color: black;
}
#circle2{
    position: absolute;
    top: -40px;
    left: -40px;
}
.container{
    margin: 50px ;
}
#ImgDis{
    display: flex;
    justify-content:right;
    margin-right: 20px;
}
#Title{
    background-color: #109D58;
    display: flex;
    width: fit-content;
    padding: 10px;
    border-radius: 50px;
    color: white;
}
#content{
    background-color: #109D58;
    padding: 10px;
    margin-top: -24px;
    display: flex;
    flex-direction: column;
    text-align: right;
    color: white;
    border-radius: 0px 29px 29px 29px;
}
h4{
    text-decoration: underline;
    padding: 40px 5px 5px;
}
h2{
    margin-top: 20px;
}
#Btn{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#Btn>*{
    width: 162px;
    height: 48px;
    font-size: large;
    border: none;
    cursor: pointer;
    border-radius: 14px;
    color: white;
    margin-top: 20px;
    font-size: 2rem;
    
}
#call{
    background-color: red;
    box-shadow: 10px 10px  #E4312C;
}
#cancel{
    background-color:black ;
    box-shadow: 10px 10px rgb(66, 66, 66)
}
#circle3{
    bottom: -50px;
    right: -50px;
    background-color: black;
}
#circle4{
    position: absolute;
    bottom: -40px;
    right: -40px;
}