/* *{ 
 margin: 0;
    padding: 0;
}
.body{
    font-family: Poppins;
    font-style: normal;
}
.nav{
    display: flex;
}  */
.logoImg{
    width: 60px;
    height: 54px;
}
/* .home{
    width: 60px;
    height: 54px;
    position: absolute;
    right: 30px;
}
nav > p{
    font-size: 24px;
    font-weight: 600;
    line-height: 156.5%; /* 37.56px */
    /* letter-spacing: 1.56px;
    color: #278024;
    width: 162px;
    margin: 10px ;
} */
/* nav > button{
    position: absolute;
    right: 0;
    margin: 10px;
    rotate: -90deg;
    border: none;
} */
/* select{
    position: absolute;
    right: 0;
    margin: 10px;
    opacity: 0;
    cursor: pointer;
}
option{
    font-size: 15px;
} */ 
.Img{
    display: flex;
    margin: auto;
    justify-content: center;
}
.text{
    display: flex;
    border: 1px solid #278024;
    border-radius: 20px;
    background-color: #278024;
    color: white;
    padding: 10px;
    width: fit-content;
    margin: 1% auto;
}
.infos{
    font-size: 1.8rem;
    display: flex;
    color: red;
    text-decoration: underline;
    justify-content: center;
    margin: 1%;
    cursor: pointer;
}
.map{
    border: 1px solid green;
    width: 95%;
    height: 35vh;
}