*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Poppins;
    font-style: normal;
}
nav{
    display: flex;
}
.logoImg{
    width: 60px;
    height: 54px;
}
.home{
    width: 60px;
    height: 54px;
    position: absolute;
    right: 30px;
}
nav > p{
    font-size: 24px;
    font-weight: 600;
    line-height: 156.5%; /* 37.56px */
    letter-spacing: 1.56px;
    color: #278024;
    width: 162px;
    margin: 10px ;
}
nav > button{
    position: absolute;
    right: 0;
    margin: 10px;
    rotate: -90deg;
    border: none;
}
select{
    position: absolute;
    right: 0;
    margin: 10px;
    opacity: 0;
    cursor: pointer;
}
option{
    font-size: 15px;
}
.mail{
    display: flex;
    justify-content: right;
    align-items: center;
}
.mail > img{
    background-color: black;
    padding: 15px;
    margin-right: 10%;
    margin-top: 2%;
    border-radius: 50%;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    padding: 7% 10%;
    margin: -5% 2%;
    background: linear-gradient(180deg, #278024 18.89%, #CE180F 83.18%, #EC060B 99.91%);
    color: white;
    font-size: 20px;
}
.content > p{
    text-align: center;
    justify-content: center;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: right;
}
label{
    text-align: right;
}
input{
    padding: 5px;
    margin: 5px 0;
    outline: none;
    color: white;
    background: none;
    border: none;
    border-bottom:1px solid black;
}
.send{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.Btnsend{
    border-radius: 15px;
    background: rgba(236, 6, 11, 0.75);

    mix-blend-mode: hard-light;
    font-size: 25px;
    width: 166px;
    height: 41px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: white;
    border: none
}