*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Poppins;
    font-style: normal;
}
nav{
    display: flex;
}
#logoImg{
    width: 60px;
    height: 54px;
}
nav > p{
    font-size: 24px;
    font-weight: 600;
    line-height: 156.5%; /* 37.56px */
    letter-spacing: 1.56px;
    color: #278024;
    width: 162px;
    margin: 10px ;
}
nav > button{
    position: absolute;
    right: 0;
    margin: 10px;
    rotate: -90deg;
    border: none;
}
select{
    position: absolute;
    right: 0;
    margin: 10px;
    opacity: 0;
    cursor: pointer;
}
option{
    font-size: 15px;
}
.emergency{
    display: flex;
    background-color: rgba(242, 52, 47, 0.95);
    border: 5px solid rgba(196, 196, 196, 0.58);
    border-radius: 40px;
    height: 110px;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px)
}

h1{
    color: var(--text-color, #333);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Poppins;
    font-size: 36px;
    font-weight: 600;
    line-height: 156.5%;

}
.question{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 40px;
}
.question>p:nth-child(2){
    color: red;
}
.items{
    display: flex;
    flex-direction: column;
}
.services{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}
.items > img{
    width: 148px;
    height: 141px;
    cursor: pointer;
}
.items > button{
    border-radius: 15px;
     background: #278024; border: none; /*linear-gradient(180deg, #278024 0%, rgba(195, 228, 194, 0.00) 100%); */
   
    color: red;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    height: 40px;
    cursor: pointer;
}
.other{
    display: flex;
    justify-content: right;
    position: relative;
}
.other > img{
    width: 122px;
    height: 122px;
    flex-shrink: 0;
    border: 1px solid black;
    border-radius: 50%;
    padding: 10px;
    box-shadow: 20px -10px 1px rgba(39, 128, 36, 0.45); /* Add a box shadow to create the shadow effect */
    margin-right: 15%;
    margin-top: 10%;
    margin-bottom: 10%;
    
}
.redcircle{
    left: 100px;
    width: 70px;
    height: 70px;
    bottom: 60px;
    background-color: #E4312C;
}
.greencircle{
    background-color: #278024;
}
.circle {
    position: absolute;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    left: 40px;
    bottom: 100px;
}

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Poppins;
    font-style: normal;
}
nav{
    display: flex;
}
.logoImg{
    width: 60px;
    height: 54px;
}
.home{
    width: 60px;
    height: 54px;
    position: absolute;
    right: 30px;
}
nav > p{
    font-size: 24px;
    font-weight: 600;
    line-height: 156.5%; /* 37.56px */
    letter-spacing: 1.56px;
    color: #278024;
    width: 162px;
    margin: 10px ;
}
nav > button{
    position: absolute;
    right: 0;
    margin: 10px;
    rotate: -90deg;
    border: none;
}
select{
    position: absolute;
    right: 0;
    margin: 10px;
    opacity: 0;
    cursor: pointer;
}
option{
    font-size: 15px;
}
.mail{
    display: flex;
    justify-content: right;
    align-items: center;
}
.mail > img{
    background-color: black;
    padding: 15px;
    margin-right: 10%;
    margin-top: 2%;
    border-radius: 50%;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    padding: 7% 10%;
    margin: -5% 2%;
    background: linear-gradient(180deg, #278024 18.89%, #CE180F 83.18%, #EC060B 99.91%);
    color: white;
    font-size: 20px;
}
.content > p{
    text-align: center;
    justify-content: center;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: right;
}
label{
    text-align: right;
}
input{
    padding: 5px;
    margin: 5px 0;
    outline: none;
    color: white;
    background: none;
    border: none;
    border-bottom:1px solid black;
}
.send{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.Btnsend{
    border-radius: 15px;
    background: rgba(236, 6, 11, 0.75);

    mix-blend-mode: hard-light;
    font-size: 25px;
    width: 166px;
    height: 41px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: white;
    border: none
}

*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x:hidden ;
}
.circle{
    height: 100px;
    width: 100px;
    border: 1px solid black;
    border-radius: 50%;
    position: absolute;
}
#circle1{
    top: -50px;
    left: -50px;
    background-color: black;
}
.circle2{
    position: absolute;
    top: -40px;
    left: -40px;
}
.container{
    margin: 50px ;
}
.ImgDis{
    display: flex;
    justify-content:right;
    margin-right: 20px;
}
.Title{
    background-color: #109D58;
    display: flex;
    width: fit-content;
    padding: 10px;
    border-radius: 50px;
    color: white;
}
.content{
    background-color: #109D58;
    padding: 10px;
    margin-top: -24px;
    display: flex;
    flex-direction: column;
    text-align: right;
    color: white;
    border-radius: 0px 29px 29px 29px;
}
h4{
    text-decoration: underline;
    padding: 40px 5px 5px;
}
h2{
    margin-top: 20px;
}
.Btn{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.Btn>*{
    width: 162px;
    height: 48px;
    font-size: large;
    border: none;
    cursor: pointer;
    border-radius: 14px;
    color: white;
    margin-top: 20px;
    font-size: 2rem;
    
}
.call{
    background-color: red;
    box-shadow: 10px 10px  #E4312C;
}
.cancel{
    background-color:black ;
    box-shadow: 10px 10px rgb(66, 66, 66)
}
.circle3{
    bottom: -50px;
    right: -50px;
    background-color: black;
}
.circle4{
    position: absolute;
    bottom: -40px;
    right: -40px;
}

